<!DOCTYPE html>
<html>
    <head>
        <title>Loja</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="dist/app.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <header class="header">
            <h1 class="header__title">Xablau</h1>
        </header>
        <div class="container">
            <div class="search">
                <p class="search__title">Search</p>
                <input v-model="filter" class="search__input" type="text">
            </div>
            <table class="loja-table">
                <tr class="loja-table__header">
                    <th v-for="nameColumn in headerProduct" class="loja-table__header__item">{{ nameColumn }}</th>
                </tr>

                <tr v-for="product in filteredsProducts" class="loja-table__row">
                    <td class="loja-table__row__item">{{ product.name }}</td>
                    <td class="loja-table__row__item">{{ product.amount }}</td>
                    <td class="loja-table__row__item">{{ product.price }}</td>
                    <td class="loja-table__row__item"><a :href="product.link">{{ product.link }}</a></td>
                    <td class="loja-table__row__item"><input type="checkbox" :checked="product.purchased"></td>
                    <td class="loja-table__row__item" @click="editObj(product)"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    <td class="loja-table__row__item" @click="removeItem(product.name)"><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>
            </table>
            
            <button href="#" class="button button--add" @click="clearModal(), showModalAdd()" id="myBtn"><i class="fa fa-plus" aria-hidden="true"></i></button>
        
            <modal-add v-if="modalAdd" @close="closeModalAdd()" :obj-product="product"></modal-add>
            <modal-remove v-if="modalRemove" @close="closeModalRemove()" :name-item="nameItem"></modal-remove>
        </div>
    </div>
    <script src="/app/services/storage.js"></script>
    <script src="/app/components/modal-add.js"></script>
    <script src="/app/components/modal-remove.js"></script>
    <script src="/app/views/main.js"></script>
</body>
</html>

