@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,700,900');

body {
    width: 100%;
    position: relative;
    // overflow-x: hidden;    
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}
a {
    transition: color.3s ease;
    color: $color-default-dark;
}
.container {
    max-width: 90%;
    
    margin: 0 auto;
}