//Colors
//===================================================
$color-default: #f05a28;
$color-default-dark: #2E4053;
$color-default-light: #c8d4ca;

//Screen sizes
//===================================================
$screen-mc: 480px;
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 980px;
$screen-mg: 1050px;
$screen-lg: 1280px;
$screen-xg: 1400px;

//Radius
//===================================================
$small-radius: 4px;
$medium-radius: 8px;
