.button {
    width: 1.8em;
    height: 1.8em;
    
    border-radius: 50%;
    margin-top: 1em;
    margin-left: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-default-dark;
    font-size: 2.2em;
    text-shadow: 2px 2px 9px $color-default-dark;
    box-shadow: 2px 3px 12px 0px rgba(46, 64, 83, 0.412);
    transition: background-color ease .5s;
    cursor: pointer;
    &--add {
        background-color: $color-default;
        &:hover {
            background-color: rgba(57, 175, 120, 0.774);
            transition: .7s;
        }
    }
    &--close {
        background-color: rgb(255, 0, 0);
        &:hover {
            background-color: rgba(255, 0, 0, 0.63);
            transition: .7s;
        }
    }
}