.search {
    display: flex;
    margin-right: 5%; 

    &__input {
        width: 200px;
        height: 70%;
        align-self: center;
        padding: .3em;
        border-radius: 6px;
        font-size: 1em;
    }
}