.search {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    &__title {
        align-self: center;
        margin: 0 1em;
    }
    &__input {
        padding: .3em;
        border-radius: 6px;
        font-size: 1em;
    }
}