.loja-table {
    width: 100%;
    margin: 0 auto;
    margin-top: 3em;
    border-collapse: collapse;
    &__row {
        padding: 1em;
        text-align: center;
        border-bottom: 1px solid #ddd;
        transition: background-color ease .5s;
        &:hover {
            background-color: #c8d4ca;
        }
        &__item {
           padding: 1em .5em;
        }
    }
    &__header {
        padding: 1em;
        text-align: center;
        border-bottom: 1px solid #ddd;
        &__item {
            padding: 1em .5em;
        }
    }
}

.fa-pencil {
    color: #2E4053;
    cursor: pointer;
}
.fa-trash {
    color: red;
    cursor: pointer;
}