.loja-table {
    width: 100%;

    margin: 0 auto;
    margin-top: 2em;
    
    border-collapse: collapse;
    &__row {
        padding: 1em;
        
        text-align: center;
        
        border-bottom: 1px solid #ddd;
        transition: background-color ease .5s;
        &:hover {
            background-color: lighten($color-default, 40%);
        }
        &__item {
            padding: 1em .5em;
        }
    }
    &__header {
        padding: 1em;
        text-align: center;
        
        border-bottom: 1px solid #ddd;
        &__item {
            padding: 1em .5em;
        }
    }
}

.fa-pencil {
    cursor: pointer;
    color: #0092c7;
}
.fa-trash {
    cursor: pointer;
    color: red;
}